# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# IDEs
.idea/
.vscode/
.cadence/

# Testing
.pytest_cache/
.ruff_cache/

# Logging & Research
wandb/
outputs/
logs/
*.log
runs/

# System
.DS_Store
Thumbs.db
.cache/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl
